/// <reference path="_variables.scss" />
main {
    margin-top: 80px;
    @include media-sm {
        overflow: hidden
    }
    @include media-xs {
        overflow: hidden
    }
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    color: $mainGreen;
    @include nunitoSemiBold();
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    @include media-xs {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }
}

h3 {
    @include nunitoSemiBold();
    font-size: 1.625rem;
    line-height: 1.5;
    color: $darkGray;
}

h4 {
    @include nunitoSemiBold();
    font-size: 1.375rem;
    line-height: 1.5;
    color: $darkGray;
}

h5 {
    @include nunitoSemiBold();
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3;
    color: $mainGreen;
}

p {
    @include nunitoRegular();
    color: #585858;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    a {
        color: $mainGreen;
        text-decoration: none;
        &:hover {
            &:after {
                visibility: hidden;
                @include transform(scaleX(0));
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: visible;
            @include transform(scaleX(1));
            @include transition(all .3s ease-in-out 0s);
            background: $mainGreen;
        }
    }
}

.subtitle {
    @include nunitoSemiBold();
    font-size: 1.1rem;
    line-height: 1.4;
    display: block;
    margin: 30px 0 10px 0;
}

a {
    position: relative;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:visited {
        outline: none;
        text-decoration: none;
    }
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include media-xs {
        display: initial;
        display: initial;
        display: block;
        -ms-flex-wrap: initial;
        flex-wrap: initial;
    }
    &:before,
    &:after {
        display: none;
        display: none;
    }
    >[class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @include media-xs {
            display: initial;
            display: initial;
            display: block;
            -webkit-box-orient: initial;
            -webkit-box-direction: initial;
            -ms-flex-direction: initial;
            flex-direction: initial;
        }
    }
}

// Buttons
.primary-btn {
    background-color: $mainGreen;
    border: 2px solid $mainGreen;
    color: $white;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 19px 7px 17px;
    text-align: center;
    border-radius: 16px;
    letter-spacing: 0.02em;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-transform: uppercase;
    @include transition(all 0.5s);
    @include nunitoRegular();
    text-transform: initial;
    margin-top: 5px;
    &:hover {
        text-decoration: none;
        outline: 0;
        @include transform(translateY(-3px));
        @include boxShadow(0 10px 10px rgba(0, 0, 0, 0.2));
    }
    &:focus {
        text-decoration: none;
        outline: 0;
        @include transform(translateY(-3px));
        @include boxShadow(0 10px 10px rgba(0, 0, 0, 0.2));
    }
}

.container {
    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.grayBackground {
    background-color: $mainGray;
    border-top: solid 1px #E4EBE6;
    border-bottom: solid 1px #E4EBE6;
}

.greenBackground {
    background-color: $mainGreen;
    border-top: solid 1px #E4EBE6;
    border-bottom: solid 1px #E4EBE6;
}

.top-spacing {
    padding-top: 80px;
    @include media-xs {
        padding-top: 50px;
    }
}

.medium-top-spacing {
    padding-top: 70px;
    @include media-xs {
        padding-top: 50px;
    }
}

.add-spacing {
    padding-top: 80px;
    padding-bottom: 100px;
    @include media-xs {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.small-spacing {
    padding-top: 50px;
    padding-bottom: 100px;
    @include media-xs {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.half-width {
    width: 50%;
    @include media-xs {
        width: 100%;
    }
}