.was-validated {
    .form-control {
        &:invalid {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(.375em + .1875rem) center;
            background-size: calc(.75em + .375rem) calc(.75em + .375rem);
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        &:valid {
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
}

form {
    .form-control {
        padding: 13.5px 13px;
        height: auto;
        font-size: 1rem;
        line-height: 1.31;
        color: $darkGray;
        @include nunitoRegular();
        background-color: #fcfcfc;
        border: 1.6px solid #e5e5e5;
        border-radius: 7.8px;
        -webkit-transition: border-color .5s ease-out, background-color .5s ease-out, -webkit-box-shadow .5s ease-out;
        transition: border-color .5s ease-out, background-color .5s ease-out, -webkit-box-shadow .5s ease-out;
        transition: border-color .5s ease-out, box-shadow .5s ease-out, background-color .5s ease-out;
        transition: border-color .5s ease-out, box-shadow .5s ease-out, background-color .5s ease-out, -webkit-box-shadow .5s ease-out;
        &:focus {
            border-color: $darkGray;
            box-shadow: none;
            outline: none;
        }
    }
    textarea {
        min-height: 178.5px;
        resize: none;
    }
    label {
        font-size: 1rem;
        line-height: 1.31;
        color: $darkGray;
        @include nunitoRegular();
    }
}