body {
    main {
        @include media-sm {
            margin-top: 80px;
        }
        @include media-xs {
            margin-top: 78px;
        }
    }
    &.nav-fixed {
        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 11px 0;
            @include boxShadow(0px 0px 30px rgba(0, 0, 0, 0.13));
            @include media-xs {
                padding: 0;
            }
            @include media-sm {
                padding: 0;
            }
            .top-nav-container {
                height: 0;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                padding: 0;
                top: -1000px;
            }
            .logo-container {
                top: -10px;
                @include transition(all 0.5s);
                @include media-xs {
                    top: 14px;
                }
                @include media-sm {
                    top: 14px;
                }
            }
            .menu-dropdown {
                @include media-md {
                    top: 48px;
                }
                @include media-lg {
                    top: 48px;
                }
            }
        }
        main {
            margin-top: 77px;
        }
    }
    overflow-x: hidden;
    &.menu-open {
        overflow-y: hidden;
        header {
            .nav-icon {
                background: transparent;
                @include mixedTransition(top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
                &:before {
                    opacity: 0;
                    bottom: 0;
                    @include transform(rotate(-45deg));
                    @include mixedTransition(bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
                }
                &:after {
                    opacity: 0;
                    top: 0;
                    @include transform(rotate(45deg));
                    @include mixedTransition(top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
                }
            }
            .mobile-intro {
                .close-icon {
                    opacity: 1;
                }
            }
            @include media-sm {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.98);
                    width: 5px
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.98);
                    width: 5px
                }
            }
        }
        nav {
            margin-left: 0%;
            @include media-sm {
                width: 100%;
            }
        }
        footer {
            margin-left: 100%;
            @include media-xs {
                float: left;
                overflow: hidden;
                height: 0;
            }
            @include media-sm {
                float: left;
                overflow: hidden;
                height: 0;
            }
        }
    }
}

header {
    background-color: $white;
    z-index: 99;
    @include transition(all 0.5s);
    @include media-sm {
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    @include media-xs {
        height: 78px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav-icon-container {
        position: absolute;
        top: 26px;
        right: 16px;
        width: 24px;
        height: 24px;
    }
    .nav-icon {
        width: 24px;
        height: 2.5px;
        position: absolute;
        top: -4px;
        right: 0px;
        background: $darkGray;
        @include transition(all 0ms 300ms);
        @include transform(translateY(16px));
        &:before {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            bottom: 9px;
            background: $darkGray;
            @include mixedTransition(bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
        }
        &:after {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
            background: $darkGray;
            @include mixedTransition(bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
        }
    }
    .logo-container {
        float: left;
        text-align: left;
        width: 200px;
        height: 80px;
        position: absolute;
        top: -38px;
        left: 0;
        @include transition(all 0.5s);
        @include media-sm {
            top: 14px;
            left: 5px;
            height: auto;
        }
        @include media-xs {
            top: 14px;
            left: 5px;
            height: auto;
        }
        a {
            @include transition(all 0.5s);
            position: relative;
            &:before {
                content: "";
                background-color: $white;
                width: 76px;
                height: 76px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 100%;
                @include transition(all 0.5s);
                @include media-xs {
                    display: none;
                }
                @include media-sm {
                    display: none;
                }
            }
        }
        .logo {
            height: auto;
            visibility: visible;
            opacity: 1;
            display: block;
        }
        img {
            width: 200px;
            height: 80px;
            @include transition(all 0.5s);
            position: relative;
            top: 12px;
            left: 8px;
            @include media-xs {
                top: 0;
                left: 0;
            }
            @include media-sm {
                top: 0;
                left: 0;
            }
        }
    }
    .top-nav-container {
        padding: 14px 0 12.2px 0;
        background-color: $bgColor;
        @include transition(all 0.5s);
        @include media-sm {
            display: none;
        }
        @include media-xs {
            display: none;
        }
        ul {
            padding: 0;
            text-align: right;
            list-style: none;
            width: auto;
            display: block;
            margin-bottom: 0;
            font-size: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 0;
                padding-right: 14px;
                margin-right: 14px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #dee4e6;
                    height: 31px;
                    width: 1.5px;
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    &:after {
                        display: none;
                    }
                }
                &.header-clock {
                    top: -8px;
                    &:before {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f017";
                        font-weight: 400;
                        font-size: 1rem;
                        color: $darkGreen;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        position: relative;
                        top: 2px;
                    }
                    span {
                        font-size: 0.875rem;
                        line-height: 1;
                        @include nunitoBold;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: $darkGray;
                        top: 6px;
                    }
                }
                &.header-mail {
                    top: -14px;
                    position: relative;
                    &:before {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f0e0";
                        font-weight: 400;
                        font-size: 1rem;
                        color: $darkGreen;
                        display: inline-block;
                        width: 19px;
                        height: 15px;
                        margin-right: 7px;
                        position: relative;
                        top: 8px;
                    }
                    a {
                        font-size: 0.875rem;
                        line-height: 1;
                        @include nunitoBold;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: $darkGray;
                        top: 6px;
                        position: relative;
                        @include transition(all .3s ease);
                        &:hover {
                            color: $darkGreen;
                            &:after {
                                visibility: visible;
                                @include transform(scaleX(1));
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            visibility: hidden;
                            @include transform(scaleX(0));
                            @include transition(all 0.3s ease-in-out 0s);
                            background: $darkGreen;
                        }
                        &:focus {
                            text-decoration: none;
                            outline: none;
                        }
                        &:active {
                            text-decoration: none;
                            outline: none;
                        }
                    }
                }
                &.header-social {
                    .header-social-icon {
                        width: 28.3px;
                        height: 28px;
                        display: inline-block;
                        background-color: $white;
                        border-radius: 100%;
                        margin-right: 10px;
                        position: relative;
                        @include transition(all 0.5s);
                        &:last-child {
                            margin-right: 0;
                        }
                        &:before {
                            font-family: 'Font Awesome 5 Brands';
                            font-weight: 400;
                            font-size: 1rem;
                            color: #AEB3B6;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                        }
                        &.fcb-icon {
                            &:before {
                                content: "\f39e";
                            }
                        }
                        &.instagram-icon {
                            &:before {
                                content: "\f16d";
                            }
                        }
                        &.youtube-icon {
                            &:before {
                                content: "\f167";
                            }
                        }
                        &:hover {
                            background-color: #aeb3b6;
                            text-decoration: none;
                            &:before {
                                color: $white;
                            }
                        }
                        &:focus {
                            text-decoration: none;
                            outline: none;
                        }
                        &:active {
                            text-decoration: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    nav {
        text-align: right;
        position: relative;
        margin: 0;
        background: none;
        display: inline-block;
        float: right;
        @include transition(margin-left 1s ease);
        padding: 17px 0;
        height: 55px;
        @include media-xs {
            margin-left: -100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            overflow-y: auto;
            background-color: rgba(255, 255, 255, 0.98);
        }
        @include media-xs-landscape {
            padding-bottom: 320px;
        }
        @include media-sm {
            margin-left: -100%;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            overflow-y: auto;
            background-color: rgba(255, 255, 255, 0.98);
        }
        ul {
            padding: 0;
            text-align: right;
            list-style: none;
            width: auto;
            display: block;
            margin-bottom: 0;
            @include media-xs {
                margin-left: 0;
                margin-top: 80px;
            }
            @include media-sm {
                margin-left: 0;
                margin-top: 80px;
            }
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 0;
                background: none;
                cursor: pointer;
                padding: 0 45px 0 0;
                position: relative;
                @include media-xs {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                    border-bottom: 1px solid #F5F2F2;
                }
                @include media-md {
                    padding-right: 20px;
                }
                @include media-sm {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                    border-bottom: 1px solid #F5F2F2;
                }
                &:last-child {
                    padding-right: 0;
                    @include media-xs {
                        text-align: center;
                        border-bottom: none;
                        margin-bottom: 28px;
                    }
                    @include media-sm {
                        text-align: center;
                        border-bottom: none;
                        margin-bottom: 28px;
                    }
                }
                &:nth-last-child(2) {
                    padding: 0 20px 0 0;
                    @include media-sm {
                        padding: 0;
                        margin-bottom: 28px;
                    }
                    @include media-xs {
                        padding: 0;
                        margin-bottom: 28px;
                    }
                }
                a {
                    position: relative;
                    padding: 0;
                    color: $darkGray;
                    @include nunitoBold;
                    font-size: 0.875rem;
                    line-height: 1;
                    text-transform: uppercase;
                    @include transition(all .3s ease);
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        visibility: hidden;
                        @include transform(scaleX(0));
                        @include transition(all 0.3s ease-in-out 0s);
                        background: $darkGreen;
                        @include media-xs {
                            display: none;
                        }
                        @include media-sm {
                            display: none;
                        }
                    }
                    @include media-xs {
                        font-size: 19px;
                        letter-spacing: 0;
                        line-height: 26px;
                        display: inline-block;
                        padding: 25px 20px;
                        width: 100%;
                    }
                    @include media-sm {
                        font-size: 19px;
                        letter-spacing: 0;
                        line-height: 26px;
                        display: inline-block;
                        padding: 25px 20px;
                        width: 100%;
                    }
                    &:hover {
                        text-decoration: none;
                        // color: $darkGreen;
                        &:after {
                            visibility: visible;
                            @include transform(scaleX(1));
                        }
                    }
                    &:focus {
                        text-decoration: none;
                        outline: none;
                        // color: $darkGreen;
                        &:after {
                            visibility: visible;
                            @include transform(scaleX(1));
                        }
                    }
                    &:active {
                        text-decoration: none;
                        outline: none;
                        &:after {
                            visibility: visible;
                            @include transform(scaleX(1));
                        }
                    }
                }
                &.active {
                    > a {
                        color: $darkGreen;
                        &:after {
                            visibility: visible;
                            @include transform(scaleX(1));
                        }
                    }
                }
                .fa-search {
                    color: $darkGreen;
                    @include transition(all .3s ease);
                    position: relative;
                    top: 1px;
                    &:hover {
                        opacity: .7;
                    }
                    @include media-sm {
                        font-size: 1.5rem;
                    }
                    @include media-xs {
                        font-size: 1.5rem;
                    }
                }
                &:hover {
                    .menu-dropdown {
                        @include media-md {
                            opacity: 1;
                            visibility: visible;
                        }
                        @include media-lg {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &.menu-expand {
                    .fa-arrow-right {
                        @include transform(rotate(90deg));
                    }
                    .menu-dropdown {
                        opacity: 1;
                        visibility: visible;
                        position: relative;
                    }
                }
            }
            .fa-arrow-right {
                display: none;
                position: absolute;
                right: 25px;
                top: 27px;
                width: auto;
                height: auto;
                color: $darkGreen;
                @include transition(all .2s);
                @include media-xs {
                    display: block;
                }
                @include media-sm {
                    display: block;
                }
            }
        }
        .menu-dropdown {
            background-color: $bgColor;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            min-width: 13em;
            text-align: left;
            z-index: 60;
            opacity: 0;
            visibility: hidden;
            @include transition(all 0.3s);
            top: 100%;
            padding: 15px 20px;
            box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
            @include media-md {
                top: 36px;
            }
            @include media-lg {
                top: 36px;
            }
            a {
                display: inline-block;
                width: 100%;
                text-transform: initial;
                @include nunitoRegular;
                font-size: 1rem;
                margin-bottom: 10px;
                &:hover {
                    color: $darkGreen;
                }
                &:after {
                    display: none;
                }
                @include media-xs {
                    padding: 15px 20px;
                    margin-bottom: 0;
                }
                @include media-sm {
                    padding: 15px 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.mobile-intro {
    float: left;
    display: block;
    height: 35px;
    width: 100%;
    .close-icon-container {
        position: absolute;
        top: 26px;
        right: 16px;
        width: 24px;
        height: 24px;
    }
    .close-icon {
        position: absolute;
        right: 24px;
        top: 14px;
        z-index: 999999;
        opacity: 0;
        &:before {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            background: #6D645D;
            bottom: 0;
            @include transform(rotate(-45deg));
        }
        &:after {
            width: 24px;
            height: 2.5px;
            content: "";
            position: absolute;
            left: 0;
            background: #6D645D;
            top: -2px;
            @include transform(rotate(45deg));
        }
    }
}

.mobile-more-links {
    text-align: center;
    margin: 10px 0 35px 0;
    .header-social {
        display: block;
        margin-bottom: 15px;
        .header-social-icon {
            width: 54.5px;
            height: 54px;
            display: inline-block;
            background-color: $white;
            border-radius: 100%;
            margin-right: 19.4px;
            position: relative;
            @include boxShadow(0 10px 13px 0 rgba(0, 0, 0, 0.17));
            &:last-child {
                margin-right: 0;
            }
            &:before {
                font-family: 'Font Awesome 5 Brands';
                font-weight: 400;
                font-size: 1.5rem;
                color: #AEB3B6;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
            &.fcb-icon {
                &:before {
                    content: "\f39e";
                }
            }
            &.instagram-icon {
                &:before {
                    content: "\f16d";
                }
            }
            &.youtube-icon {
                &:before {
                    content: "\f167";
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                    outline: none;
                }
                &:active {
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
    .header-clock {
        margin-top: 15px;
        &:before {
            font-family: 'Font Awesome 5 Free';
            content: "\f017";
            font-weight: 400;
            font-size: 1rem;
            color: $darkGreen;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        span {
            font-size: 0.875rem;
            line-height: 1;
            @include nunitoBold;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: $darkGray;
            top: 0;
        }
    }
    .header-mail {
        &:before {
            font-family: 'Font Awesome 5 Free';
            content: "\f0e0";
            font-weight: 400;
            font-size: 1rem;
            color: $darkGreen;
            display: inline-block;
            width: 19px;
            height: 15px;
            margin-right: 7px;
            position: relative;
            top: 8px;
        }
        a {
            font-size: 0.875rem;
            line-height: 1;
            @include nunitoBold;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: $darkGray;
            top: 6px;
            position: relative;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline: none;
            }
            &:active {
                text-decoration: none;
                outline: none;
            }
        }
    }
}
