.gallery-container {
    >ul {
        padding: 0;
        margin-bottom: 0;
        >li {
            margin-bottom: 30px;
            width: 100%;
            display: inline-block;
            list-style: outside none none;
            a {
                border: 3px solid $black;
                border-radius: 3px;
                display: block;
                overflow: hidden;
                position: relative;
                float: left;
                height: 245px;
                border-radius: 10px;
                >img {
                    @include transition(transform 0.15s ease 0s);
                    @include transform(scale3d(1, 1, 1));
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                &:hover {
                    >img {
                        @include transform(scale3d(1.1, 1.1, 1.1));
                    }
                    .demo-gallery-poster {
                        background-color: rgba(0, 0, 0, 0.5);
                        >img {
                            opacity: 1;
                        }
                    }
                }
                &.video {
                    .demo-gallery-poster {
                        img {
                            height: 48px;
                            margin-left: -24px;
                            margin-top: -24px;
                            opacity: 0.8;
                            width: 48px;
                        }
                    }
                }
                .demo-gallery-poster {
                    background-color: rgba(0, 0, 0, 0.1);
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include transition(background-color 0.15s ease 0s);
                    >img {
                        left: 50%;
                        margin-left: -10px;
                        margin-top: -10px;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        @include transition(opacity 0.3s ease 0s);
                    }
                }
            }
        }
    }
}